<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <%= form_with url: '/search', method: :get do |form| %>

  <%= form.text_field :search, placeholder: 'Search your recipe here' %>
  <%= form.submit 'search' %>
  <% end %>


<%= link_to 'Submit your recipe', '/create', method: :get %>
<%= button_to 'All recipes here', '/all', method: :get %>
</body>

</html>