<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <%=stylesheet_link_tag 'bootstrap'%>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag 'style.css'%>
  <%= stylesheet_link_tag 'responsive.css'%>
</head>

<body>
<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
        <a class="navbar-brand" href="index.html">
          <%= image_tag 'logo.png'%>
          <span> Tropiko </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <%= link_to 'home', root_path, class: 'nav-link', method: :get%>
              </li>
              <li class="nav-item">
                <%= link_to 'Recipes', all_path, class: 'nav-link', method: :get%>
              </li>
              <li class="nav-item">
                <%= link_to 'My Recipes', list_path, class: 'nav-link', method: :get%>
              </li>
            <%= form_with url: '/search', class: 'form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0', method: :get do |form| %>

              <%= form.text_field :search, placeholder: 'Search your recipe here' %>
              <%= form.submit 'search', class: 'btn  my-2 my-sm-0 nav_search-btn' %>
            <% end %>
          </div>
          <div class="quote_btn-container ml-0 ml-lg-4 d-flex justify-content-center">
            <% if user_signed_in? %>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to 'Login', new_user_session_path %>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class=" slider_section position-relative">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slider_item-box">
            <div class="slider_item-container">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="slider_item-detail">
                      <div>
                        <h1>
                          Welcome to <br />
                          Our Recipe Book
                        </h1>
                        <p>
                          This is a Recipe book designed to the community
                          where you can find all the recipes you need.
                          You can insert your own recipes and share them
                          with the people you love.
                        </p>
                        <div class="d-flex">
                          <%= link_to 'Submit Recipe', '/create', class:'text-uppercase custom_orange-btn mr-3', method: :get %>
                          <%= link_to 'All Recipes', '/all', class:'text-uppercase custom_dark-btn', method: :get %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="slider_img-box">
                      <div>
                        <%= image_tag 'slide-img.png'%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

  <!-- end slider section -->
</div>

</body>

</html>