<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>

  <%= form_with model: @recipe, method: :post do |form| %>

  <%= form.label 'Recipe Title' %>
  <%= form.text_field :name %>

  <%= form.label 'Description' %>
  <%= form.text_field :description %>

  <%= form.fields_for :ingredients do |ingredient_form| %>
  <%= ingredient_form.label :name , 'Ingredients'%>
  <%= ingredient_form.text_area :name %>
  <%  end %>

  <%= form.label 'Duration' %>
  <%= form.text_field :duration %>

  <%= form.label 'Way of preparation' %>
  <%= form.text_area :prepare %>

  <%= form. submit 'save' %>
  <%  end %>

  <%= form_with url: '/search', method: :get do |form| %>

  <%= form.text_field :search, placeholder: 'Search your recipe here' %>
  <%= form.submit 'search' %>
  <% end %>


<%= button_to 'All recipes here', '/all', method: :get %>
</body>

</html>